<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <img src="/media//productCategory_images/logo-removed.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
   
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Store
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'ManufacturerStore' %}">All Store</a>
            <a class="dropdown-item" href="{% url 'ManufacturerAddProduct' %}">Add Store</a>

        
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Installments
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'ManufacturerAllInstallment' %}">Installments</a>
            <a class="dropdown-item" href="{% url 'ManufacturerAllInstallmentReport' %}">All installment Reports</a>
            <a class="dropdown-item" href="{% url 'ManufacturerPaymentHistory' %}">Installment Payments</a>

        
        </li>

    

        <li class="nav-item">
          <a class="nav-link" href="{% url 'ManufacturerPaymentHistory' %}"> P</a>
        </li>

      </ul>
      
      <a href="{% url 'Userlogout' %}" class="btn btn-outline-danger" role="button" aria-pressed="true">Logout</a>
    </div>
  </nav>