<nav class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'system-home' %} ">
      <img src="/media//productCategory_images/logo-removed.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
      
    </a>
 
    
  </div>
  <ul class="navbar-nav ">
  <li><a href="{% url 'Userlogin' %}" class="btn btn-outline-success btn-pull-right" role="button" aria-pressed="true">Login</a></li>
 



    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle   btn-outline-warning" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Register
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'FarmerRegistration' %}">Farmer</a>
        <a class="dropdown-item" href="{% url 'ManufacturerRegistration' %}">Manufacturer</a>
    </li>
    </ul>

  </nav>


  