{% extends 'Farmerproducts/FarmerBase.html' %}


{%block content%}

  
   <div class = 'p-3'>
      <h2 class='d-flex justify-content-center'>Cart</h2>
      <div class='d-flex justify-content-center'>
        <p>
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
         Add Shipping Date
        </button>
      </p>
      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shipping date</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'farmerCreateInstallmentNumber' alltotals  %}" method=POST enctype="multipart/form-data" > 
          {% csrf_token %}
          <h5 class='d-flex justify-content-center'>Insert Shipping date</h5>
       
        
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-btn-outline-success" href="{% url 'farmerCreateInstallmentNumber' alltotals  %}" >

        </form>
      </div>

    </div>
  </div>
</div>


        <!-- cart items table -->
        </div> 
      <table class="table table table-striped table table-hover table table-sm">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
        
              
            </tr>
          </thead>
          <tbody>
      {% for p in product %}
     
            <tr>
              <td>{{p.product_id}}</td>
              <td>{{p.quantity}}</td>
              
              <td><a href="{%url  'FarmerCartRemove' p.id%} " type="button" class="btn btn-outline-danger">-</a></td>
              <td><a type="button" class="btn btn-outline-success ">+</a></td>
            </tr>
            
            
      {% endfor %}
     
      </tbody>
      </table>
      <h2 class='d-flex justify-content-center'>Total:{{alltotals}}ksh</h2>
      <p class='d-flex justify-content-end'><a href="{% url 'FarmerCreateInstallment' %}" type="button" class="btn btn-outline-success ">Checkout To Installments</a>
      </div>
      
 
{{allcartItemQuantity}}
{%endblock%}