{% extends 'admin/adminBase.html' %}


{%block content%}
<div>
    
    <h1 class='d-flex justify-content-center'>Farmer Payments</h1>
    <div class='d-flex justify-content-center'>
      <div style="position: relative; height:60vh; width:100vw" >
        <canvas id="myChart"></canvas>
      </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [{%for ins in farmerPayment%} '{{ins.installment_id}}', {%endfor%}],
            datasets: [{
              label: 'Farmer Payments',
              data: [{%for i in farmerPayment%} '{{i.amount}}', {%endfor%}],
              backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(204, 204, 80)',
          'rgb(99, 99, 99)',
          'rgb(256, 256, 91)',
        ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
</div>

{%endblock%}