{% extends 'Farmerproducts/FarmerBase.html' %}


{%block content%}

</div > 
<h1 class='d-flex justify-content-center'>Installments</h1>
<div class='p-3'>
<table class="table table table-striped table table-hover table table-sm">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Shipping Date</th>
        <th scope="col">Total Amount</th>
      

      </tr>
    </thead>
    <tbody>
{% for installment in installmentNumber %}




      <tr>
        <th><a href="{% url 'FarmerInstallmentDetailView' installment.id %}">{{installment.pk}}</a></th>
        <td>{{installment.shipping_date}}</td>
        <td>{{installment.total_amount}}</td>
        
        <td><a href="{% url 'farmerCartRemove' installment.id %}" type="button" class="btn btn-outline-success">Pay</a></td>
  
      </tr>
     


{% endfor %}
</tbody>
</table>
</div>
</div>


{%endblock%}
