{% extends 'Farmerproducts/FarmerBase.html' %}


{%block content%}

</div > 
<h1 class='d-flex justify-content-center'>Installments</h1>

<div class='p-3'>
<table class="table table table-striped table table-hover table table-sm">
    <thead>
      <tr>
        
        <th scope="col">Shipping Date</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Balance</th>
        <th scope="col"> </th>
      

      </tr>
    </thead>
    <tbody>
{% for installment in installmentNumber %}




      <tr>
        <th><a href="{% url 'FarmerInstallmentDetailView' installment.id %}">{{installment.shipping_date}}</a></th>
        
        <td>{{installment.total_amount}}</td>
        <td>{{installment.balance}}</td>
       
        
        <td><a href="{% url 'farmerMakePayment' installment.id  %} " type="button" class="btn btn-outline-success" >Pay</a></td>
     
        
   
  
      </tr>
     


{% endfor %}
</tbody>
</table>
</div>



</div>
</div>


{%endblock%}
